            <md-autocomplete
                    md-no-cache="false"
                    md-selected-item="selectedItem"
                    md-search-text-change="searchTextChange(searchText)"
                    md-search-text="searchText"
                    md-selected-item-change="searchUser(item)"
                    md-items="item in autocompleteList"
                    md-item-text="item.username"
                    md-min-length="0"
                    placeholder="{{placeholder}}">
                <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found for "{{ctrl.searchText}}".
                </md-not-found>
            </md-autocomplete>


            <!--md-items="item in ctrl.querySearch(ctrl.searchText)"-->
